* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
:root {
    font-size: 62.5%;
    --font: "Inter", arial, helvetica, sans-serif;
    --font2: "Space Grotesk", arial, helvetica, sans-serif;
}
button:hover {
    cursor: pointer;
}
button {
    all: unset;
    font-family: var(--font);
}
body {
    font: 1.6rem var(--font);
    background-color: #0C0C0D;
    color: #f7f7f7;
}
#app {
    width: 32rem;
    height: 100vh;
    position: relative;
}
#logo {
    font-family: var(--font2);
    text-align: center;
    border-bottom: 2px solid #181818;
    padding: 2rem;
}
#logo h2 > svg {
    color:#f38334;
}
.top_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 2rem;
}
.btn_menu {
    display: flex;
    align-items: flex-end;
    gap: 2px;
}
button.btn_menu svg {
    height: 1.6rem;
    width: 1.6rem;
}

#menu {
    position: absolute;
    top: 0;
    z-index: 2;
    padding: 3.5rem 1.5rem  2rem;
    background: #181818;
    width: 80%;
    height: 100%;
    border-right: 1px solid #252529;
    border-radius: 0 1rem 1rem 0;
}
.open {
    display: block;
}
#close {
    position: relative;
    margin-left: auto;
    width: fit-content;
}
#close input[type="checkbox"] {
    all: unset;
    position: absolute;
    inset: 0;
    z-index: 3;
    cursor: pointer;
}
#menu:has(#close input[type="checkbox"]:checked) {
    display: none;
}
.select {
    margin-top: 6rem;
}
#category_select {
    position: relative;
}
#category_select label {
    font-size: 1.3rem;
    letter-spacing: .07rem;
}
#select_button {
    font-size: 1.3rem;
    letter-spacing: .05rem;
    color: #AFABB6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #17171A;
    border: 1px solid #202022;
    border-radius: .5rem;
    padding: 1rem;
    margin-top: .7rem;

}
#chevrons {
    display: flex;
}
#chevrons svg {
    width: 1.7rem;
    height: 1.7rem;
}
#chevrons [data-lucide="chevron-up"] {
    display: none;
}
#options_views_button {
    all: unset;
    position: absolute;
    z-index: 3;
    inset: 0;
    cursor: pointer;
}
#options_views_button:focus + #select_button,
#options_views_button:checked + #select_button {
    outline: 1px solid #A881E6;
}
#category_select:has(#options_views_button:checked) label {
    color: #A881E6;
}
#category_select:has(#options_views_button:checked) #chevrons [data-lucide="chevron-down"] {
    display: none;
}
#category_select:has(#options_views_button:checked) #chevrons [data-lucide="chevron-up"] {
    display: block;
    color: #A881E6;
}
#options {
    margin-top: .5rem;
    background-color: #17171A;
    border: 1px solid #252529;
    border-radius: .5rem;
    display: none;
}
#option {
    display: flex;
    align-items: center;
    gap: .7rem;
    border-bottom: 1px solid #252529;
    padding: 1.3rem;
    font-size: 1.5rem;
    position: relative;
}
#option .label {
    color: #FBF9FE;
}
#option svg {
    width: 1.8rem;
    height: 1.8rem;
}
#option svg:last-child {
    margin-left: auto;
    display: none;
}
#option input {
    all: unset;
    position: absolute;
    inset: 0;
    z-index: 3;
    cursor: pointer;
}
#option:has(input:checked),
#option:hover {
    background-color: #252529;
}
#option:has(input:checked) svg:last-child {
    display: block;
    color: #A881E6;
}
#option:has(input:focus) {
    outline: 1px solid #A881E6;
}
#category_select:has(#options_views_button:checked) + #options {
    display: block;
}
#option:nth-child(1) {
    color: #BB9F3A;
}
#option:nth-child(2) {
    color: #8CAD51;
}
#option:nth-child(3) {
    color: #DB5BBF;
}
#option:nth-child(4) {
    color: #E07B67;
}
/* main */
main {
    width: 100%;
    margin-top: 4rem;
    padding: 0 2rem;
}
.wrapper {
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 1px solid #252529;
    border-radius: .5rem;
}
.search {
    display: flex;
    align-items: center;
    gap: .2rem;
    position: relative;
}
.search svg {
    width: 1.9rem;
    height: 1.9rem;
}
.search input {
    all: unset;
    padding-left: .5rem;
    width: 100%;
    font-family: var(--font2);
}
.search input::placeholder {
    color: #AFABB6;
    font-size: 1.4rem;
    letter-spacing: 0.09rem;
}
.wrapper:has(.search input:focus) {
    outline: 1px solid #A881E6;
}
button.btn_search {
    background: #A881E6;
    font-size: 1.5rem;
    font-weight: 600;
    color: #FBF9FE;
    padding: .5rem;
    border-radius: .5rem;
}
button.btn_search:hover {
    background: #a26df7;
}