<div class="container">
    <form hx-post="#">
        <div class="">
            <label class="form-label" for=id">Id balança</label>
            <input class="form-control" name="id" placeholder="Digite o id">
            <button type="submit" class="btn btn-info">Buscar</button>
        </div>
    </form>
</div>